
.header {
    text-align: center;
    padding: 50px 20px;
}
.header h1 {
    font-size: 36px;
    margin: 0;
}
.content {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}
.event-image {
    max-width: 500px;  
    width: 100%;       
    height: auto;    
    display: block;    
    margin: 20px auto;
    border-radius: 10px; 
}

.content h2 {
    font-size: 33px; 
    margin-top: 0;
    text-align: center;
}
.content .section {
    margin-bottom: 20px;
}
.content .section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.content .section p {
    margin: 5px 0;
}
.content .section .add-to-calendar {
    color: #9B034C;
    cursor: pointer;
}

.add-to-calendar a {
    color: #9B034C;
    text-decoration: none; 
}

.add-to-calendar a:hover {
    color: #BF266F;
}

.content .buy-tickets {
    display: inline-block;
    background: linear-gradient(45deg, #BF266F, #591234);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.content .sectionPrice p {
    font-weight: medium;
    color: black;
}

.content .map {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}
.content .sectionMap h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.content .sectionMap p {
    margin: 5px 0;
}
.sectionMap iframe {
    width: 850px; 
    height: 300px; 
    border: 0; 
    display: block; 
    margin: 0 auto; 
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.hosted-by {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 20px; 
}
.hosted-by img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
}
.hosted-by .host-info {
    display: flex;
    flex-direction: column;
}
.hosted-by .host-info h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.hosted-by .host-info .buttons {
    margin-top: 10px;
}
.hosted-by .host-info .buttons button {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.hosted-by .host-info .buttons .follow {
    background-color: #BF266F;
    color: white;
    border: none;
}

.hosted-by .host-info .buttons .follow {
    background-color: #BF266F;
    color: white;
    border: none;
    transition: all 0.3s ease;
}


.hosted-by .host-info .buttons .unfollow {
    background-color: white;
    color: #BF266F;
    border: none;
    transition: all 0.3s ease;
}


.event-description {
    margin-bottom: 20px;
}
.event-description p {
    text-align: justify; 
    line-height: 1.6;   
    margin: 0 0 15px;
}

.event-description .regist a {
    color: white;        
    text-decoration: none;
}

/* Mengubah warna saat hover menjadi biru */
.event-description .regist a:hover {
    color: #BF266F;
}


.other-events {
    margin-top: 55px;
}
.other-events h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 25px;
}

.event-cards {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.event-card {
    width: 30%; 
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 27px;
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-info {
    padding: 10px;
}

.event-info .date {
    color: #BF266F;
    font-weight: bold;
}

.event-info .title {
    font-size: 1em;
    margin: 10px 0;
    color: #2D2C3C;
    text-align: center;
}

.event-info .title a {
    color: black;
    text-decoration: none; 
}

.event-info .title a:hover {
    text-decoration: underline;
}

.event-info .venue {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.event-info .time {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.event-info .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.event-info .details .price {
    font-weight: bold;
    color: #FFD700;
}

.event-info .details .availability {
    font-weight: bold;
    transition: color 0.3s;
}

.event-info .details .availability.available {
    color: #3CB371; 
}

.event-info .details .availability.unavailable {
    color: #555555;




@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .category {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
